services:
  # Backend
  backend:
    build:
      context: ../../..
      dockerfile: backend/.envs/prod/Dockerfile
    env_file:
      - ./.config/.env.server
      - ./.config/.env.app
      - ./.config/.env.services
      - ./.config/.env.debug
    restart: unless-stopped
    volumes:
      - backend-storage:/var/www/html/storage
    networks:
      - vpc
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  backend-storage:
    driver: local
